/*General Rules*/

.flex {
    display: flex;
}

.center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
}

.width {
    max-width: 1100px;
    margin: auto;
}

body {
    background-color: #F2F4FC;
    font-family: 'Roboto', sans-serif;
    max-width: 1320px;
    margin: auto;
}

/*Headings*/

h1 {
    font-size: 60px;
    color: #292E47;
    line-height: 130%;
    margin-bottom: 30px;
}

h2 {
    font-size: 40px;
    font-weight: bold;
    color: #292E47;
}

/*Navigation*/

nav {
    font-weight: 500;
}

nav > div {
    margin-top: 70px;
}

#circle {
    width: 60.5px;
    height: 18.5px;
}

.nav-menu > li {
    padding: 0px 20px;
    color: #6B708D;
    font-size: 17px;
}

.nav-menu > li:hover {
    color: #072AC8;
}

.nav-menu > li:active{
    color: #43D2FF;
}

.contact-us {
    background-color: #072AC8;
    padding: 15px 30px;
    border: 0;
}

.contact-us:hover {
    background-color: #292E47;
}

.contact-us > a {
    color: white;
    font-size: 17px;
}

/*Hero Section*/

.header {
    margin-top: 100px;
}

.hero-text > p {
    font-size: 20px;
    line-height: 150%;
    color: #6B708D;
    width: 435px;
    margin-bottom: 40px;
}

#see-work {
    background-color: #F2F4FC;
    border: none;
    font-size: 17px;
    padding: 0;
    margin-left: 20px;
}

#see-work > a {
   color: #6B708D; 
}

.image-cards {
    position: relative;
    width: 570px;
    height: 650px;
}

.cards {
    width: 294px;
    height: 315px;
    position: absolute;
}

#card-1 {
    top: 0%;
    left: -18%;
}

#card-2 {
    right: -25%;
    top: 73%;
}

#hero-image {
    width: 570px;
    height: 637px;
}

/*Clients*/

.clients {
    margin-top: 130px;
    margin-bottom: 200px;
}

/*Recent Projects*/

.recent-project {
    margin-top: 200px;
    margin-bottom: 200px;
}

.recent-project > h2 {
    margin-bottom: 70px;
}

.projects, .services {
    background-color: white; 
}

.article-text {
    padding: 30px;
}

.article-text > h3 {
    margin: 0;
    font-size: 24px;
    color: #292E47;
}

.article-text > p {
    margin: 10px 0 54px 0;
    color: #6B708D;
    line-height: 150%;
}

.learn-more {
    background-color: white;
    border: none;
    padding: 0;
}

.learn-more > a {
    color: #072AC8;
    font-size: 17px;
}

.article-image {
    width: 340px;
    height: 240px;
    object-fit: cover;
}

/*Reviews*/

.reviews {
    background-image: url(images/testimonial-section/orbit.png);
    background-size: contain;
    background-position: center;
    background-color: #292E47;    
    height: 500px;
    text-align: center;
    padding: 51px 0px;
    margin-bottom: 209px;
}

#profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.section-emojis {
    position: relative;
    padding-top: 40px;
    height: 458px;
}

.emojis {
    position: absolute;
    width: 150px;
}

.top-emojis {
    top: 0%;
}

#emoji-1, #emoji-3 {
    left: 7%;
}

#emoji-2, #emoji-4 {
    left: 81%;
}

.bottom-emojis {
    bottom: 0%;
}

.reviews-text {
    width: 621px;
    margin: auto;
}

.reviews-text > h2 {
    color: white;
    margin-bottom: 104px;
}

.reviews-text > p {
    font-weight: 500;
    font-size: 24px;
    color: #FFC600;
    padding: 0 20px;
    margin-bottom: 102px;
}

.testimonial {
    justify-content: center;
}

.testimonial-text {
    text-align: start;
}

.testimonial-text > h4 {
    margin: 0;
    color: #43D2FF;
    font-weight: 100;
}

.testimonial-text > p {
    margin: 0;
    color: #F2F4FC;
    font-size: 13px;
}


/*Our Services*/

.our-services {
    margin-bottom: 200px;
}

.our-services > h2 {
    margin-bottom: 70px;
}

.services {
    padding: 40px 30px 30px 30px;
    width: 280px;
}

.services > .article-text {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.background-icon {
    background-color: #ECF7FF;
    padding: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

/*Email*/

.email {
    background-color: #FFC600;
    height: 500px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 170px;
}

.email > h2 {
    margin: 0 0 20px 0;
}

.email > p {
    margin: 0 0 50px 0;
}

.subscribe-email {
    justify-content: center;
}

.email-input {
    background-color: #ECF7FF;
    padding: 25px 0 25px 30px;
    width: 368px;
    margin-right: 20px;
}

.email-input input {
    border: none;
    background-color: #ECF7FF;
    font-size: 17px;
}

.email-input ::placeholder {
    color: #292E47;
}

#envelope-icon {
    width: 30px;
    padding-right: 10px;
}

#subscribe-button {
    background-color: #072AC8;
    border: none;
    padding: 29px 61px;
    color: #F2F4FC;
    font-size: 17px;
}

/*Footer*/

.footer {
    margin-bottom: 142px;
}

#footer-p {
    color: #6B708D;
    font-size: 17px;
    width: 260px;
    line-height: 150%;
}

.footer-menu {
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
}

#footer-nav {
    width: 435px;
}

@media (max-width: 480px) {
    /*General Rules*/
    
    body {
        max-width: 400px;
    }

    .width {
        max-width: 340px;
    }

    h1 {
        font-size: 30px;
    }

    /*Navigation*/

    nav > div {
        padding: 18px 0;
        margin-top: 0;
    }

    /*Header*/

    .header {
        margin-top: 20px;
        display: block;
        text-align: center;
    }

    .cards {
        display: none;
    }

    .image-cards {
        align-items: center;
    }

    #hero-image {
        width: auto;
    }

    .hero-text > p {
        font-size: 17px;
        width: auto;
    }

    .buttons-hero {
        display: flex;
        flex-direction: column;
    }

    #see-work {
        margin-right: 0;
    }

    /*Clients*/

    /*Recent Projects*/

    .recent-project > div {
        flex-direction: column;
    }

    /*Reviews*/

    /*Our Services*/

    .our-services > div {
        flex-direction: column;
    }

    /*Email*/

    /*Footer*/
}