/*General Rules*/

.flex {
    display: flex;
}

.center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
}

.width {
    max-width: 1100px;
    margin: auto;
}

.wide-width {
    max-width: 1320px;
    margin: 70px auto 0px auto;
}

body {
    background-color: #F2F4FC;
    font-family: 'Roboto', sans-serif;
}

/*Navigation*/

nav {
    font-weight: 500;
}

nav > div {
    margin-top: 70px;
}

#circle {
    width: 60.5px;
    height: 18.5px;
}

.nav-menu > li {
    padding: 0px 20px;
    color: #6B708D;
    font-size: 17px;
}

.nav-menu > li:hover {
    color: #072AC8;
}

.nav-menu > li:active{
    color: #43D2FF;
}

.contact-us {
    background-color: #072AC8;
    padding: 15px 30px;
    border: 0;
}

.contact-us:hover {
    background-color: #292E47;
}

.contact-us > a {
    color: white;
    font-size: 17px;
}

.header {
    margin-top: 100px;
}

h1 {
    font-size: 60px;
    color: #292E47;
    line-height: 130%;
    margin-bottom: 30px;
}

.hero-text > p {
    font-size: 20px;
    line-height: 150%;
    color: #6B708D;
    width: 435px;
    margin-bottom: 40px;
}

#see-work {
    background-color: #F2F4FC;
    border: none;
    font-size: 17px;
    padding: 0;
    margin-right: 20px;
}

#see-work > a {
   color: #6B708D; 
}

.cards {
    width: 294px;
    height: 315px;
    position: absolute;
}

#card-1 {
    left: 650px;
}

#card-2 {
    right: 80px;
    top: 670px;
}

#hero-image {
    width: 570px;
    height: 637px;
}

/*Clients*/

.clients {
    margin-top: 130px;
    margin-bottom: 200px;
}

/*Recent Projects*/

.recent-project {
    margin-top: 200px;
    margin-bottom: 200px;
}

h2 {
    margin-bottom: 70px;
    font-size: 40px;
    font-weight: bold;
    color: #292E47;
}

.projects {
    background-color: white; 
}

.article-text {
    padding: 28px;
}

.article-text > h3 {
    margin: 0;
    font-size: 24px;
}

.article-text > p {
    margin: 10px 0 54px 0;
    color: #6B708D;
}

.learn-more {
    background-color: white;
    border: none;
    padding: 0;
}

.learn-more > a {
    color: #072AC8;
    font-size: 17px;
}

.article-image {
    width: 340px;
    height: 240px;
    object-fit: cover;
}

/*Reviews*/

.reviews {
    background-image: url(images/testimonial-section/orbit.png);
    background-size: cover;
    background-color: #292E47;
    height: 622px;
    text-align: center;
    padding: 51px;
}

.reviews-text > h3 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 69px 0 104px 0;
}

.reviews-text > p {
    font-weight: 500;
    font-size: 24px;
    color: #FFC600;
    padding: 0 370px;
}

#profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.emojis {
    position: absolute;
    width: 150px;
}

/*Our Services*/

/*Email*/

/*Footer*/


@media (max-width: 480px) {
    /*General Rules*/
    
    body {
        max-width: 400px;
    }

    /*Navigation*/
    
    .contact-us {
        display: none;
    }

    /*Header*/

    /*Clients*/

    /*Recent Projects*/

    /*Reviews*/

    /*Our Services*/

    /*Email*/

    /*Footer*/
}